.nav {
  transition: all .5s;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: transparent;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    border-radius: 50%;
    z-index: 120;
    text-align: center;
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-color: rgba($color-black, .5);
    z-index: 100;
    transition: all .7s cubic-bezier(.61, .43, .16, 1.31), box-shadow .4s;
    box-shadow: 0 .5rem 2.5rem rgba($color-black, .3);
  }

  &__container {
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110;
    opacity: 0;
    transition: all .7s cubic-bezier(.61, .43, .16, 1.31);
  }

  &__list {
    @include centered;
    list-style: none;
    text-align: center;
    display: none;
  }

  &__item {
    margin: 2rem;
  }

  &__link {

    transition: all .3s;

    &:link,
    &:visited {
      font-size: 3rem;
      display: inline-block;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-light;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 45%, $color-light 50%, rgba($color-light, .1) 55%, rgba($color-light, .1) 100%);
      background-size: 260%;
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateY(-.5rem);
    }
  }

  // animation

  &__checkbox:checked ~ &__background {
    transform: scale(80);
    background-color: rgba($color-black, .96);
  }

  &__checkbox:checked ~ &__container {
    opacity: 1;
    width: 100%;
    height: 100vh;

    & > .nav__list {
      display: block;
    }
  }


  // animated icon
  &__icon {
    position: relative;
    margin-top: 3rem;
    transition: all .3s;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-light-gray-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__button:hover ~ &__background {
    box-shadow: 0 0 2.5rem rgba($color-black, .4);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  @include mq(mobile-lg) {

    &__item {
      margin: 1rem;
    }
  }

  @include mq(mobile-md) {

    &__link {

      &:link,
      &:visited {
        font-size: 2.6rem;
      }
    }

    &__button {
      top: 3rem;
      right: 3rem;
    }

    &__background {
      top: 3rem;
      right: 3rem;
    }
  }

  @media only screen and (max-width: 20em),
  only screen and (max-height: 20em) {
    &__link {

      &:link,
      &:visited {
        font-size: 2.4rem;
      }
    }
  }
}