.book {
  background-image: linear-gradient(105deg,
          rgba($color-light, .9) 0%,
          rgba($color-light, .9) 50%,
          transparent 50%),
  url(../../img/book_bg.jpg);
  padding: 2.5rem 0 1.5rem 0;
  border-radius: 4px;
  background-size: 100%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: 50rem;

  &__form {
    padding: 2rem 4rem;
    width: 45%;
  }

  @include mq(mobile-lg) {
    background-image: linear-gradient(105deg,
            rgba($color-light, .9) 0%,
            rgba($color-light, .9) 65%,
            transparent 65%),
    url(../../img/book_bg.jpg);

    &__form {
      padding: 2rem 4rem;
      width: 60%;
    }
  }

  @include mq(mobile-md) {
    background-image: linear-gradient(0, rgba($color-light, .9), rgba($color-light-gray-3, .8)), url(../../img/book_bg.jpg);

    &__form {
      padding: 2rem;
      width: 100%;
    }
  }
}